*{
    color:#fff;
}
.movie__details_row{
    display: flex;
    justify-content: space-evenly;
}

h1{
    text-transform:uppercase;
    font-size:3rem;
    line-height:2.75rem;
}
h3{
    color:#fff;
}
.hero{
    position: relative;
    background-size:cover;
    padding-top:20%;
}
img{
    width:100%;
}
.single__view-content {
    position:relative;
    z-index: 2;
    max-width: 550px;
    width: 100%;
    margin-left: 5%;
}
.single__view-gradient {
    z-index: 1;
    width: 100%;
    left: 0%;
    background: linear-gradient(to top, rgb(0 0 0 / 1) 21%, transparent);
    height: 100%;
    position: absolute;
    top: 0;
}
/* Buttons */
.btn.btn-play {
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px 45px;
    text-transform: uppercase;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
}
ul.genres{
    display:flex;
    list-style: none;
    justify-content: space-evenly;
}
#trailer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  @media(max-width:767px){
    .hero{
        background-size:100%;
       background-repeat: no-repeat;
       background-position: top center;;
    }
    .hero .single__view-gradient {
        height: 70%;
    }
    .single__view-content {
        max-width: 390px;
    }
    .single__view-content h1{
        font-size:2.25rem;
        line-height:2.25rem;
    }
    
  }